@{
    ViewBag.Title = "Usage Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* css *@
<style type="text/css">
    ul.image-align{
        padding-left: 250px;
    }
</style>

<body>
    <center>
        <h1>Usage Guide</h1>
    </center>
    <div id="usageGuide">
        @RenderBody()
    </div>
</body>